<%- include('./partials/head.ejs') -%>

    <!-- "Aside" 
    ----------------------------------------------------------------------->

    <%- include('./partials/aside.ejs') -%>

    <!-- "Header" 
    ----------------------------------------------------------------------->

    <%- include('./partials/header.ejs') -%>

    <!-- "Main" 
    ----------------------------------------------------------------------->

    <main class="p-3">
        <h1>Dashboard</h1>
    </main>

<%- include('./partials/footer.ejs'); -%>